<main:>
    <div class="module full-width">

        <span class='option-box pull-right wallet'>
            <app:rewards:user-gems />
        </span>

        <app:widgets:tabs>
            <@headers>
                <app:widgets:tab-header group="options" tab="profile" icon="user" title="Profile" default="true"  />
                <app:widgets:tab-header group="options" tab="groups" icon="heart" title="Groups" />
                {#if _page.user.priv.flags.dropsEnabled}
                    <app:widgets:tab-header group="options" tab="inventory" icon="gift" title="Inventory" />
                    <app:widgets:tab-header group="options" tab="stable" icon="leaf" title="Stable" />
                {/if}
                <app:widgets:tab-header group="options" tab="tavern" icon="eye-close" title="Tavern" />
                <app:widgets:tab-header group="options" tab="achievements" icon="certificate" title="Achievements" />
                <app:widgets:tab-header group="options" tab="challenges" icon="bullhorn" title="Challenges" />
                <app:widgets:tab-header group="options" tab="settings" icon="wrench" title="Settings" />
            </@headers>

            <app:widgets:tab-content group="options" tab="profile" default="true" >
                <div class='row-fluid'>
                    <div class='span4 border-right'>
                        <app:avatar:customize />
                    </div>
                    <div class='span4  border-right'>
                        <app:avatar:profile-stats profile={_page.user.pub} />
                    </div>
                    <div class='span4'>
                        <app:avatar:profile-edit />
                    </div>
                </div>
            </app:widgets:tab-content>

            <app:widgets:tab-content group="options" tab="groups">
                <app:groups:groups-pane />
            </app:widgets:tab-content>

            <app:widgets:tab-content group="options" tab="achievements">
                <app:avatar:achievements profile="{{_page.user.pub}}" />
            </app:widgets:tab-content>

            <app:widgets:tab-content group="options" tab="inventory">
                <div class='row-fluid'>
                    <div class='span6 border-right'>
                        <h2>Inventory</h2>
                        <app:avatar:inventory />
                    </div>
                    <div class='span6'>
                        <h2>Market</h2>
                        <app:game-pane:market />
                    </div>
                </div>
            </app:widgets:tab-content>

            <app:widgets:tab-content group="options" tab="stable">
                <app:pets:stable />
            </app:widgets:tab-content>

            <app:widgets:tab-content group="options" tab="tavern">
                <app:groups:group group={_page.tavern} />
            </app:widgets:tab-content>

            <app:widgets:tab-content group="options" tab="challenges">
                <app:challenges:main />
            </app:widgets:tab-content>

            <app:widgets:tab-content group="options" tab="settings">
                <app:settings:settings-pane />
            </app:widgets:tab-content>

        </app:widgets:tabs>

    </div>

<market:>

    <!-- pets pane -->
    <div id="market-tab">
        <table><tr>
            <td><div class="NPC-Alex pull-left"></div></td>
            <td>
                <div class="popover static-popover fade right in">
                    <div class="arrow"></div>
                    <h3 class="popover-title">Alexander Augustin</h3>
                    <div class="popover-content">Welcome to the Market! I'm the merchant, <a target="_blank" href="http://www.kickstarter.com/profile/523661924">Alexander</a>. Dying to get that particular pet you're after, but don't want to wait for it to drop? Buy it here!</div>
                </div>
            </td>
        </tr></table>

        <h4>Eggs</h4>
        {#with _page.items.pets as :egg}
        <table class="tab-pane pet-grid">
            <tr>
                {#with :egg[0]}<app:pets:egg />{/}
                {#with :egg[1]}<app:pets:egg />{/}
                {#with :egg[2]}<app:pets:egg />{/}
                {#with :egg[3]}<app:pets:egg />{/}
            </tr>
            <tr>
                {#with :egg[4]}<app:pets:egg />{/}
                {#with :egg[5]}<app:pets:egg />{/}
                {#with :egg[6]}<app:pets:egg />{/}
                {#with :egg[7]}<app:pets:egg />{/}
            </tr>
            <tr>
                {#with :egg[8]}<app:pets:egg />{/}
            </tr>
        </table>
        {/}
        <h4>Hatching Potions</h4>
        {#with _page.items.hatchingPotions as :hatchingPotion}
        <table class="tab-pane pet-grid">
            <tr>
                {#with :hatchingPotion[0]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[1]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[2]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[3]}<app:pets:hatchingPotion />{/}
            </tr>
            <tr>
                {#with :hatchingPotion[4]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[5]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[6]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[7]}<app:pets:hatchingPotion />{/}
            </tr>
            <tr>
                {#with :hatchingPotion[8]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[9]}<app:pets:hatchingPotion />{/}
            </tr>
        </table>
        {/}
    </div>
