<header:>
    <header class="site-header {#if _page.user.pub.preferences.hideHeader}hidden{/}" role="banner" data-partySize="{#if gt(_page.party.memebers.length,1)}{truarr(_page.party.members.length)}{else}0{/}">
        <!-- avatar -->
        <div class="herobox-wrap main-herobox">
            <app:avatar:avatar profile={_page.user.pub} main=true>
        </div>

        <!-- stat bars -->
        <div class="hero-stats">
            <div class="meter health" title="Health">
                <div class="bar" style="width: {percent(_page.user.pub.stats.hp, 50)}%;"></div>
                <span class="meter-text"><i class=icon-heart></i> {floor(_page.user.pub.stats.hp)} / 50</span>
            </div>

            <div class="meter experience" title="Experience">
                <div class="bar" style="width: {percent(_page.user.pub.stats.exp,tnl(_page.user.pub.stats.lvl))}%;"></div>
                <span class="meter-text">
                  <i class=icon-star></i> {floor(_page.user.pub.stats.exp)} / {tnl(_page.user.pub.stats.lvl)}
                  <!-- FIXME doesn't look great here, but the "Experience" CSS title rollover covers it where it was before -->
                  {{#if _page.user.priv.history.exp}}
                    &nbsp;<a x-bind=click:toggleChart data-id="exp" rel=tooltip title="Progress"><i class=icon-signal></i></a>
                  {{/}}
                </span>
            </div>
        </div>

        <!-- party -->
        <!-- I have an idea to use this loop for the user's herobox/avatar as well
             NOTE TO SELF: Ask Tyler if some kind of inter-leaving is possible
             where we can put ONE of the results of this loop BEFORE the progress bars, and the rest after-->
        {{#each _page.party.members as :memberId}}
            <div class="herobox-wrap" style="{{#if equal(:memberId, _session.userId)}}display:none;{{/}}">
                {{#unless equal(:memberId, _session.userId)}}
                    <app:avatar:avatar profile={{_page.members[:memberId]}} party="true" />
                <!-- Would be way cleaner as a Derby template `data-content="<app:groups:member-stats profile={{:member}} />"`, but it was just printing HTML as text -->
                <!-- I've re-implemented the rollover using the actual `herobox`/avatar template and data-attributes.
                    This Derby template idea would have been really handy but this is pretty versatile, and keeps it all in the avatar section -->
                {{/}}
            </div>
        {{/}}

        <app:alerts:hiding-bailey />
    </header>
